/* CSS file created for The Elizabeth Gaskell Journal: Digital Edition
 * Available at: www.elizabethgaskelljournal.com
 * First digital edition in TEI-XML, 2020
 * Maintained and Edited by Melissa J. Klamer (klamerme@msu.edu) */

body {
  background-color: #f0f0f0; font-family: "Georgia", Times, serif; font-size: 1em; width: 100vw;  }

span.choose {width: 100vw;}

span.dipNorm { clear: both; display: block;}

div.fieldset {display:block}

fieldset {position: relative;}

legend span {white-space: normal; position: absolute;  padding: 2em; top: 2em; right: 10em; padding-right: 5em; }

label.checkbox { display: inline-block; 
color: black; 
padding: 1em;
 clear: both;
      width: 20em;
      text-align: center;
      font-weight: normal;
      background-color: RGB(207,201,189);
      cursor: pointer;
      position: relative;
        overflow: hidden;  
      }
label.checkbox.on { display: inline-block; 
color: black; 
padding: 12px;
      width: 20em;
      text-align: center;
      font-weight: bold;
      background-color: RGB(207,201,189);
      cursor: pointer;
      position: relative;
        overflow: hidden;  
      }
input[type="checkbox"] {color: black; margin:0;  vertical-align: auto; position: relative; display: inline;}
 

header {position: relative;}
h2 {font-size: 250%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
h3 {font-size: 150%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;}
  
div.headnote-text {font-style: italic;}

/* Styling headers uniquely to left align on citation page: */

h4.left {text-align: left; font-size: 125%;
  color: #000000; }
  
h4 { font-size: 125%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;}
  
h5 {color: #000000;
  display: inline;
  text-align: center;
  margin-left: 40vw; 
 
}

blockquote {text-align: left; margin-left: 10vw; margin-right: 10vw;}

/* Styling pages' content */
p {margin-top: 1em; margin-bottom: 0em; padding-top: 0; padding-left: 5vw; padding-right: 5vw; }
a:visited {color: RGB(131,8,22); text-decoration: none}

/* Styling journal images for Edition page */  
img.page {float: right; max-width: 35vw; width: 35%; height: auto;}

/* Styling page illustrations */
img.illustration {display:inline; margin-left: 10vw; margin-top: 10px; width: 35%; height:auto; }

/* Styling Static Home Link div.Homelink {margin-left: 8px; vertical-align:top; padding:4px; z-index:0}*/
a.Homelink {background-color:RGB(207,201,189); width: 4vw; padding:16px; text-align: center;}
.Homelink:hover {background-color: RGB(79,142,141); color:white; padding: 16px; }
 

/* Styling navigation bar & footer */
img.header {display:block; 
max-width: 100vw;
width: 100vw;
margin-right: auto;
margin-left: auto;
height: auto; 
position: relative;
padding-top: 80px; padding-bottom: 0px; margin-bottom: 0; margin-top:0; }

nav {margin-left: 10px; background-color: RGB(207,201,189); max-width: 100vw;}

div.block {height: .5em; padding: 0; margin-top: 5px; margin-bottom: 0; background-color: RGB(122,118,126); z-index: 15; }
div.navigation {display:table; background-color: RGB(207,201,189); max-width: 100vw; position: relative; top:0; z-index:15; padding-bottom: 10px;}
.navbar {background-color: RGB(207,201,189); max-width: 100vw; height: 80px; position: fixed; top:0; z-index:20; padding-bottom: 10px;}
ul.navigation {height: 60px; list-style-type: none; position:relative;  margin: 0;  padding-top: 0px;  margin-right: auto; margin-left: auto;
 max-width: 100vw; height: 4em; z-index: 15;}

div.navLink:hover {padding: 16px; background-color: RGB(79,142,141); color: white;}

.Edition:hover a {display: table-cell; color: white; text-decoration:none; background-color: RGB(79,142,141); padding: 20px; min-width: 160px;}

li {display: table-cell; width: 14vw; text-align: center; padding: 16px;}
.Edition {width: 20vw; }

p.subheading {font-size: 125%; font-weight: bold;}
 div.footer {clear: both; background-color: RGB(207,201,189); width: 100%; margin-right: auto; margin-left: auto; font-size: .75em;}
 
 
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
ul {
   position: sticky;
  top: 0;
}


 
/* Offsetting anchors to accommodate fixed header */
.offset:before { 
	display: block; 
 	content: " "; 
  	height: 150px;      /* Give height of your fixed element */
        margin-top: -150px; /* Give negative margin of your fixed element */  	
        visibility: hidden; 
}

/* Styling Table for Rationale page */
table.information {table-layout: fixed; border-collapse: collapse;  border: 1px solid black; width: 80%; background-color: white; }
th.information, td.information, tr.information { border-collapse: collapse;  border: 1px solid black; width:100%;}

th.information {height: 50px;}
td.information {
  height: 50px;
  vertical-align: bottom;
}

/* Changing line height for alternate views */
 span.li {margin: 1em}
 span.li.on {line-height: .2em}
 


 span.gap {border: dashed;  display:inline-block;}

span.title {font-style: italic;}

/* Styling Acknowledgements Page (Descriptive List) */
dl {line-height: 2em; padding-left: 5em; padding-right: 5em;}
dt {font-weight: bold; margin-top: 2em;}
span.name {font-weight: bold}
span.org {font-weight: bold;}

/* Styling prose elements for Default View vs. Simplified View */
span.prose {line-height: 2; margin-top: 1em; margin-bottom: 0em; padding-top: 0;}
span.prose.on {line-height: 1.2; margin-top: 1em; margin-bottom: 0em; padding-top: 0;}
a:link {color: blue; text-decoration: none}
a.pagelink {font-weight: bold}
 
/* Styling superscript letters */
span.above {
vertical-align: super }

/* Styling editorial notes */
span.ref {color: crimson; vertical-align: super; }
span.ed-note {display:none;
position: absolute;
right:40vw;
color: #000041;
line-height:normal;
text-decoration:none;
font-size: .75em;
text-align:left;
font-weight: normal;
background: #CCE0EB;
border:solid #440029 2px;
width:300px;
height:auto;
padding:5px;
overflow-y:scroll;
z-index: 3;
display:none;}

/* Styling Personography Notes */
span.underline {text-decoration: underline;}
span.strikethrough {text-decoration:line-through}
span.insertion {vertical-align: top;}
span.pIndex {color:blue;}
span.pi-note {display:none; position: absolute;
right:40vw;
color: #000041;
line-height:normal;
text-decoration:none;
font-size: .75em;
text-align:left;
font-weight: normal;
background: ivory;
border:solid #440029 2px;
width:300px;
height:auto;
padding:5px;
overflow-y:scroll;
z-index: 3;
display:none;}

span.people {font-weight: bold ;}

/* Styling View Change from Default to Normalizing:(on) */
span.reg {display:none; line-height:normal; text-decoration:none; font-weight:normal;}
span.reg.on {display:inline; line-height:normal; text-decoration:none; font-weight:normal;}
span.sic {display:inline; line-height:normal; text-decoration:none; font-weight:normal;}
span.sic.on {display:none; line-height:normal; text-decoration:none; font-weight:normal;}

.line-number {color: gray; padding-right: .5em; font-size:.7em;}
.line-number.on {display:none; color: gray; padding-right: .5em; font-size:.7em;}
.figure {display:block;}
.caption {color:crimson; padding-right: .5em; font-size:.7em; display:block; margin:auto;}

/* Dropdown Button */
.dropbtn {font-family: "Georgia", Times, serif; 
font-size: 1em;
  background-color: RGB(207,201,189);
  color: RGB(131,8,22);
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
  min-width: 160px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: RGB(207,201,189);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: RGB(79,142,141); color:white; padding: 16px; min-width: 160px;}
