/* CSS file created for The Elizabeth Gaskell Journal: Digital Edition
 * Available at: www.elizabethgaskelljournal.com
 * First digital edition in TEI-XML, 2020
 * Maintained and Edited by Melissa J. Klamer (klamerme@msu.edu) */

body {
  background-color: #f0f0f0; font-family: "Georgia", Times, serif; font-size: 1em; width: 100vw; line-height: 2; }

img.header {
max-width: 100% ;
width: 100%;
margin: auto ;
height: auto
}

h2 {font-size: 250%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
h3 {font-size: 150%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;}
  
span.headnote-text {font-style: italic;}
  
h4, h5 {
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;}

div.navigation {background-color: RGB(207,201,189); max-width: 100%;}
table.navigation {margin-right: auto; margin-left: auto;
 width: 100%}
 
 div.footer {clear: both; background-color: RGB(207,201,189); width: 100%; margin-right: auto; margin-left: auto; font-size: .75em;}

 
td {width: 20%; text-align: center; padding: 16px}
 
p {padding-left: 5vw; padding-right: 5vw}
 
a:link {color: blue; text-decoration: none}
 
a:visited {color: purple; text-decoration: none}
 
.personography {color: blue}
.personography:hover {color: crimson}
    
span.above {
vertical-align: super }
/* Too dark; need to find some other way to set title aside. div.headerbox {background-color: rgb(122,118,126);} --> */
span.ref {color:crimson; vertical-align: super; }
span.ed-note {display:none;
position: absolute;
right:40vw;
color: #000041;
line-height:normal;
text-decoration:none;
font-size: .75em;
text-align:left;
font-weight: normal;
background: #CCE0EB;
border:solid #440029 2px;
width:300px;
height:auto;
padding:5px;
overflow-y:scroll;
z-index: 3;
display:none;

}
.line-number {color:crimson; padding-right: .5em; font-size:.7em;}
.figure {display:block;}
.caption {color:crimson; padding-right: .5em; font-size:.7em; display:block; margin:auto;}

