/* CSS file created for The Elizabeth Gaskell Journal: Digital Edition
 * Available at: www.elizabethgaskelljournal.com
 * First digital edition in TEI-XML, 2020
 * Maintained and Edited by Melissa J. Klamer (klamerme@msu.edu) */

body {
  background-color: #f0f0f0; font-family: "Georgia", Times, serif; font-size: 1em; width: 100vw;  }

span.choose {width: 100vw;}

span.dipNorm { clear: both; display: block;}

div.fieldset {display:block}

fieldset {position: relative;}

legend span {white-space: normal; position: absolute;  padding: 2em; top: 2em; right: 10em; padding-right: 5em; }

label.checkbox { display: inline-block; 
color: black; 
padding: 1em;
 clear: both;
      width: 20em;
      text-align: center;
      font-weight: normal;
      background-color: RGB(207,201,189);
      cursor: pointer;
      position: relative;
        overflow: hidden;  
      }
label.checkbox.on { display: inline-block; 
color: black; 
padding: 12px;
      width: 20em;
      text-align: center;
      font-weight: bold;
      background-color: RGB(207,201,189);
      cursor: pointer;
      position: relative;
        overflow: hidden;  
      }
input[type="checkbox"] {color: black; margin:0;  vertical-align: auto; position: relative; display: inline;}
 
img.header {
max-width: 100vw;
width: 100vw;
margin-right: auto;
margin-left: auto;
height: auto;
position: relative;
padding-top: 85px; padding-bottom: 0px; margin-bottom: 0;

}
header {position: relative;}
h2 {font-size: 250%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
h3 {font-size: 150%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;}
  
div.headnote-text {font-style: italic;}
  
h4 { font-size: 125%;
  color: #000000;
  text-align: center;
  margin-right: auto;
  margin-left: auto;}
  
h5 {margin-left: 40vw;
  color: #000000;
  display: inline;
  text-align: center;
}

/* Styling pages' content */

p {margin-top: 1em; margin-bottom: 0em; padding-top: 0; padding-left: 5vw; padding-right: 5vw; }
a:visited {color: RGB(131,8,22); text-decoration: none}

/* Styling journal images */  
img.page {float: right; max-width: 35vw; width: 35%; height: auto;}

/* Styling navigation bar & footer */
div.block {height: .5em; padding-top: 0; margin-top: 0; margin-bottom: 0; background-color: RGB(122,118,126); z-index: 10;}
div.navigation {background-color: RGB(207,201,189); max-width: 100vw; position: fixed; top:0; z-index:20;}
table.navigation {margin-right: auto; margin-left: auto;
 width: 100vw; height: 4em; }
div.navLink:hover {padding: 16px; background-color: RGB(79,142,141); color: white;}
.navLink:hover a {color: white; text-decoration:none; }
td {width: 16%; text-align: center; padding: 16px; display: inline-block;}
 div.footer {clear: both; background-color: RGB(207,201,189); width: 100%; margin-right: auto; margin-left: auto; font-size: .75em;}
 
/* Creating class for Fixed Header on Scrolling */
nav.fixed {position: fixed;
width: 100%;
top: 0;
z-index: 20;}

/* Changing line height for alternate views */
 span.li {margin: 1em}
 span.li.on {line-height: .2em}
 


 span.gap {border: dashed;  display:inline-block;}



/* Styling Acknowledgements Page (Descriptive List) */
dl {line-height: 2em; padding-left: 5em; padding-right: 5em;}
dt {font-weight: bold; margin-top: 2em;}
span.name {font-weight: bold}
span.org {font-weight: bold;}

/* Styling prose elements for Default View vs. Simplified View */
span.prose {line-height: 2; margin-top: 1em; margin-bottom: 0em; padding-top: 0;}
span.prose.on {line-height: 1.2; margin-top: 1em; margin-bottom: 0em; padding-top: 0;}
a:link {color: blue; text-decoration: none}
a.pagelink {font-weight: bold}
 
/* Styling superscript letters */
span.above {
vertical-align: super }

/* Styling editorial notes */
span.ref {color: crimson; vertical-align: super; }
span.ed-note {display:none;
position: absolute;
right:40vw;
color: #000041;
line-height:normal;
text-decoration:none;
font-size: .75em;
text-align:left;
font-weight: normal;
background: #CCE0EB;
border:solid #440029 2px;
width:300px;
height:auto;
padding:5px;
overflow-y:scroll;
z-index: 3;
display:none;}

/* Styling Personography Notes */
span.underline {text-decoration: underline;}
span.strikethrough {text-decoration:line-through}
span.insertion {vertical-align: top;}
span.pIndex {color:blue;}
span.pi-note {display:none; position: absolute;
right:40vw;
color: #000041;
line-height:normal;
text-decoration:none;
font-size: .75em;
text-align:left;
font-weight: normal;
background: ivory;
border:solid #440029 2px;
width:300px;
height:auto;
padding:5px;
overflow-y:scroll;
z-index: 3;
display:none;}

span.people {font-weight: bold ;}

/* Styling View Change from Default to Normalizing:(on) */
span.reg {display:none; line-height:normal; text-decoration:none; font-weight:normal;}
span.reg.on {display:inline; line-height:normal; text-decoration:none; font-weight:normal;}
span.sic {display:inline; line-height:normal; text-decoration:none; font-weight:normal;}
span.sic.on {display:none; line-height:normal; text-decoration:none; font-weight:normal;}

.line-number {color: gray; padding-right: .5em; font-size:.7em;}
.line-number.on {display:none; color: gray; padding-right: .5em; font-size:.7em;}
.figure {display:block;}
.caption {color:crimson; padding-right: .5em; font-size:.7em; display:block; margin:auto;}

/*  */

/* Dropdown Button */
.dropbtn {font-family: "Georgia", Times, serif; 
font-size: 1em;
  background-color: RGB(207,201,189);
  color: RGB(131,8,22);
  padding: 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
  min-width: 160px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: RGB(207,201,189);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: RGB(79,142,141); color:white; padding: 16px; min-width: 160px;}

/* Hide the link that should open and close the topnav on small screens */
.navlink .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navlink a:not(:first-child), .dropdown .dropbtn {display: none;}
        ssE`AEX.navlink a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
